---
- hosts: join[0]
  become: true
  become_method: sudo
  tasks:
    - name: Wait for dpkg lock release
      shell: |
        while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do
          sleep 5
        done
      retries: 30
      delay: 10
      register: wait_dpkg
      until: wait_dpkg.rc == 0
    
    - name: Ensure snapd is installed
      ansible.builtin.package:
        name: snapd
        state: present

    - name: Install k9s via snap
      community.general.snap:
        name: k9s
        state: present

    - name: Ensure symlink for k9s in /snap/bin
      ansible.builtin.file:
        src: /snap/k9s/current/bin/k9s
        dest: /snap/bin/k9s
        state: link
        force: true

    - name: Wait for the API to be reachable in the Node
      ansible.builtin.wait_for:
        host: "{{ ansible_host }}"
        port: 6443
        delay: 5
        timeout: 120
        state: started

    - name: Rollout restart weave-net
      ansible.builtin.shell: |
        kubectl -n kube-system rollout restart daemonset weave-net
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

  handlers:
    - name: Restart Keepalived Service
      ansible.builtin.service:
        name: keepalived
        state: restarted
...